In [2]:
import pandas as pd # für Datenimport
import os # für Dateipfade

received_and_completed_file = "data/received_and_completed.csv"
received_and_completed_path = os.path.join(os.getcwd(), received_and_completed_file)
received_and_completed_data = pd.read_csv(received_and_completed_path, sep=";")

In [50]:
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
ypoints = np.array(sorted_customers_data['income'])

plt.plot(ypoints, linestyle = 'dotted')

In [49]:
ypoints = np.array(received_and_completed_data["Delta"])

plt.boxplot()

AttributeError: 'Series' object has no attribute 'boxplot'

In [5]:
received_and_completed_data = received_and_completed_data.drop(['ID', 'Search'], axis=1) # drop-Funktion gibt es ein neues DataFrame aus
received_and_completed_data.head()

,person,event,time,type,val,Received,Delta
10111,9fa9ae8f57894cc9a3b8a9bbe0fc1b2f,completed,0,offer_id,a5,0.0,0.0
10112,fe97aa22dd3e48c8b143116a8403dd52,completed,0,offer_id,a4,0.0,0.0
10113,629fc02d56414d91bca360decdfa9288,completed,0,offer_id,d9,0.0,0.0
10114,676506bad68e4161b9bbaffeb039626b,completed,0,offer_id,fd,0.0,0.0
10115,8f7dd3b2afe14c078eb4f6e6fe4ba97d,completed,0,offer_id,a0,0.0,0.0

In [4]:
received_and_completed_data = received_and_completed_data.drop(received_and_completed_data[received_and_completed_data.event == "received"].index)

In [7]:
received_and_completed_data["val"].unique()

array(['a5', 'a4', 'd9', 'fd', 'a0', 'c2', '20d', 'd7'], dtype=object)

In [19]:
received_and_completed_data.Delta.describe()

count    33579.000000
mean       109.740731
std        130.075852
min          0.000000
25%         30.000000
50%         66.000000
75%        132.000000
max        714.000000
Name: Delta, dtype: float64

In [46]:
# ALL BOGO

received_and_completed_data["Delta"].loc[(received_and_completed_data["Delta"] > 240) & 
                                         (received_and_completed_data["val"] == "a5")].describe()

count    483.000000
mean     418.310559
std      125.226346
min      246.000000
25%      306.000000
50%      402.000000
75%      522.000000
max      714.000000
Name: Delta, dtype: float64

In [ ]:
# ALL DISCOUNTS

In [20]:
received_and_completed_data["Delta"].loc[received_and_completed_data["val"] == "a5"].describe()

count    4017.000000
mean      113.940254
std       130.649269
min         0.000000
25%        30.000000
50%        72.000000
75%       138.000000
max       714.000000
Name: Delta, dtype: float64

In [ ]:
rece

In [44]:
received_and_completed_data.loc[(received_and_completed_data["Received"] == 0) & (received_and_completed_data["Delta"] > 240)].describe()

              time  Received        Delta
count  1893.000000    1893.0  1893.000000
mean    496.554675       0.0   496.554675
std     111.831281       0.0   111.831281
min     246.000000       0.0   246.000000
25%     408.000000       0.0   408.000000
50%     510.000000       0.0   510.000000
75%     588.000000       0.0   588.000000
max     714.000000       0.0   714.000000

In [22]:
received_and_completed_data["Delta"].loc[received_and_completed_data["val"] == "d9"].describe()

count    4354.000000
mean      105.209463
std       124.189686
min         0.000000
25%        24.000000
50%        66.000000
75%       126.000000
max       714.000000
Name: Delta, dtype: float64

In [23]:
received_and_completed_data["Delta"].loc[received_and_completed_data["val"] == "fd"].describe()

count    3688.000000
mean      103.259219
std       129.256403
min         0.000000
25%        24.000000
50%        60.000000
75%       120.000000
max       714.000000
Name: Delta, dtype: float64

In [24]:
received_and_completed_data["Delta"].loc[received_and_completed_data["val"] == "a0"].describe()

count    3331.000000
mean       92.044431
std       128.312805
min         0.000000
25%        18.000000
50%        48.000000
75%        96.000000
max       690.000000
Name: Delta, dtype: float64

In [25]:
received_and_completed_data["Delta"].loc[received_and_completed_data["val"] == "c2"].describe()

count    5156.000000
mean      105.140807
std       128.864032
min         0.000000
25%        24.000000
50%        60.000000
75%       126.000000
max       714.000000
Name: Delta, dtype: float64

In [26]:
received_and_completed_data["Delta"].loc[received_and_completed_data["val"] == "20d"].describe()

count    4296.000000
mean       91.427374
std       127.729027
min         0.000000
25%        18.000000
50%        48.000000
75%        96.000000
max       690.000000
Name: Delta, dtype: float64

In [27]:
received_and_completed_data["Delta"].loc[received_and_completed_data["val"] == "d7"].describe()

count    3420.000000
mean      148.391228
std       130.425040
min         0.000000
25%        60.000000
50%       120.000000
75%       192.000000
max       714.000000
Name: Delta, dtype: float64

In [28]:
# customers_data[(customers_data["income"].notna() == True)]

In [29]:
# contacts_data.describe()

In [30]:
customers_data.became_member_on = pd.to_datetime(customers_data.became_member_on, format='%Y%m%d')
customers_data.became_member_on

NameError: name 'customers_data' is not defined

In [ ]:
# Beispiel-Datenframe mit zwei Spalten "Startdatum" und "Enddatum"
df = pd.DataFrame({'Startdatum': ['2021-05-16', '2021-05-17', '2021-05-18'],
                   'Enddatum': ['2021-05-20', '2021-05-19', '2021-05-22']})

# Konvertierung der Spalten in ein Datumsformat
df['Startdatum'] = pd.to_datetime(df['Startdatum'])
df['Enddatum'] = pd.to_datetime(df['Enddatum'])

# Berechnung der Zeitdifferenz zwischen den Datumsangaben
df['Zeitdifferenz'] = df['Enddatum'] - df['Startdatum']

# Ausgabe des aktualisierten Datenframes
print(df)

In [ ]:
import pandas as pd

# Beispiel-Datenframe mit einer Spalte "Datum"
df = pd.DataFrame({'Datum': ['2021-05-16', '2021-05-17', '2021-05-18']})

# Konvertierung der Spalte "Datum" in ein Datumsformat
df['Datum'] = pd.to_datetime(df['Datum'])

# Hinzufügen von 10 Tagen zur Spalte "Datum"
df['Datum_plus_10_Tage'] = df['Datum'] + pd.DateOffset(days=10)

# Ausgabe des aktualisierten Datenframes
print(df)

In [ ]:
contacts_data["val"][contacts_data["val"].str.contains("d7")].count()

In [ ]:
customers_offers = pd.merge(customers_data, contacts_data, left_on="cust_id", right_on="person")
customers_offers

In [ ]:
customers_offers.corr()

In [ ]:
contacts_data = contacts_data.drop(['Unnamed', 'Unnamed: 0'], axis=1)

In [ ]:
contacts_data.head()